<footer class="footer">
  <ul>
    <li><a href="http://wwww.itisfermi.it">Itis Enrico Fermi</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Registrati</a></li>
    <li><a href="/help">Serve aiuto?</a></li>
    <li><a href="https://www.riccardosangiorgio.com">Riccardo Sangiorgio</a></li>
  </ul>
</footer>
