<aside class="menu-left">
	<header class="menu-left__header">
		<img src="images/itisFermi_white.svg" class="menu-left__logo" alt="ITIS Enrico Fermi">
	</header>
	<ul class="menu-left__main">
		<li class="menu-left__li menu-left__li--active" data-tab="panel__dashboard">
			<span><i class="fa fa-tachometer" aria-hidden="true"></i></span>
			<span>Dashboard</span>
		</li>
		<li class="menu-left__li" data-tab="panel__search">
			<span><i class="fa fa-search" aria-hidden="true"></i></span>
			<span>Ricerca</span>
		</li>
		<li class="menu-left__li" data-tab="panel__upload">
			<span><i class="fa fa-pencil" aria-hidden="true"></i></span>
			<span>Inserisci</span>
		</li>
		{{#if admin}}
		<li class="menu-left__li" data-tab="panel__admin">
			<span><i class="fa fa-user-secret" aria-hidden="true"></i></span>
			<span>Admin</span>
		</li>
		{{/if}}
		<li class="menu-left__li" data-tab="panel__profile">
			<span><i class="fa fa-user" aria-hidden="true"></i></span>
			<span>Profilo</span>
		</li>
		<li class="menu-left__li" data-tab="panel__settings">
			<span><i class="fa fa-cog" aria-hidden="true"></i></span>
			<span>Impostazioni</span>
		</li>
		<li class="menu-left__li" data-tab="panel--logout">
			<span><i class="fa fa-sign-out" aria-hidden="true"></i></span>
			<span>Logout</span>
		</li>
	</ul>
	<footer class="menu-left__footer">
		Powered By
		<a href="https://www.riccardosangiorgio.com" class="menu-left__footer--a" target="_blank">Riccardo Sangiorgio</a>
	</footer>
</aside>
