<header class="menu-header">
	<img src="images/logo/itisFermi_white.svg" class="menu-header__logo" alt="ITIS Enrico Fermi">
	<p class="menu-header__bar"><i class="fas fa-bars"></i></p>
</header>

<div class="menu-header-container">
  <ul class="menu-header-container__main">
		<li class="menu-header-container__li menu-header-container__li--active" data-tab="panel__dashboard">
			<span><i class="fas fa-tachometer-alt"></i></span>
			<span>Dashboard</span>
			<span class="menu-header-container__li-tag u-bg-color-yellow">BETA</span>
		</li>
		<li class="menu-header-container__li" data-tab="panel__search">
			<span><i class="fa fa-search" aria-hidden="true"></i></span>
			<span>Ricerca</span>
			<span class="menu-header-container__li-tag u-bg-color-green">Attivo</span>
		</li>
		<li class="menu-header-container__li" data-tab="panel__upload">
			<span><i class="fas fa-pencil-alt"></i></span>
			<span>Inserisci</span>
			<span class="menu-header-container__li-tag u-bg-color-green">Attivo</span>
		</li>
		{{#if admin}}
		<li class="menu-header-container__li" data-tab="panel__admin">
			<span><i class="fa fa-user-secret" aria-hidden="true"></i></span>
			<span>Admin</span>
			<span class="menu-header-container__li-tag u-bg-color-yellow">Beta</span>
		</li>
		{{/if}}
		<li class="menu-header-container__li" data-tab="panel__profile">
			<span><i class="fa fa-user" aria-hidden="true"></i></span>
			<span>Profilo</span>
			<span class="menu-header-container__li-tag u-bg-color-blue">Alpha</span>
		</li>
		<li class="menu-header-container__li" data-tab="panel__settings">
			<span><i class="fa fa-cog" aria-hidden="true"></i></span>
			<span>Impostazioni</span>
			<span class="menu-header-container__li-tag u-bg-color-green">Attivo</span>
		</li>
		<li class="menu-header-container__li" data-tab="panel--logout">
			<span><i class="fas fa-sign-out-alt"></i></span>
			<span>Logout</span>
			<span class="menu-header-container__li-tag u-bg-color-green">Attivo</span>
		</li>
	</ul>
</div>
