<!-- PANEL DASHBOARD -->
<div class="panel panel__dashboard">
  <div class="module panel__dashboard--recent-posts">

  </div>
  <div class="module panel__dashboard--profile">

  </div>
  <div class="module panel__dashboard--top-profiles">

  </div>
</div>
