<div class="popup">
  <div class="popup-box">
    <div class="popup-header">
      <p class="popup-close"><i class="fa fa-times" aria-hidden="true"></i></p>
    </div>
    <p class="popup-title u-margin-bottom-medium">Utente registrato con successo!</p>
    <p class="popup-description">Email: marco.canese@gmail.com <br/>
    Password: 123456</p>
  </div>
</div>
