<div class="popup">
  <div class="popup__box">
    <div class="popup__header">
      <p class="popup-header--close"><i class="fa fa-times" aria-hidden="true"></i></p>
    </div>
    <div class="row">
      <div class="col-1-of-2">
        <input type="text" class="module-input-text" placeholder="Nome">
      </div>
      <div class="col-1-of-2">
        <input type="text" class="module-input-text" placeholder="Cognome">
      </div>
    </div>
    <div class="row">
      <div class="col-1-of-1">
        <button class="module-button module-button--green">Modifica</button>
      </div>
    </div>
  </div>
</div>
