@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  box-sizing: border-box;
  height: 100%;
  position: relative; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #151A22;
  -webkit-font-smoothing: antialiased; }

.heading-primary {
  font-size: 4rem;
  font-weight: lighter; }

.heading-secondary {
  font-size: 3rem;
  font-weight: lighter; }

.heading-tertiary {
  font-size: 2rem;
  font-weight: lighter; }

.heading-fourth {
  font-size: 1.5rem;
  font-weight: lighter; }

.heading-fifth {
  font-size: 1rem;
  font-weight: lighter; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.u-margin-bottom-big {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 1rem; }

.u-margin-bottom-small {
  margin-bottom: 0.5rem; }

.u-margin-top-big {
  margin-bottom: 1.5rem; }

.u-margin-top-medium {
  margin-bottom: 1rem; }

.u-margin-top-small {
  margin-bottom: 0.5rem; }

.u-color-blue {
  color: #3897f0; }

.u-color-green {
  color: #0FC47A; }

.u-color-red {
  color: #FF4447; }

.u-color-yellow {
  color: #F3A32A; }

.u-bg-color-blue {
  background-color: #3897f0;
  border: 1px solid #2a90ef; }

.u-bg-color-green {
  background-color: #0FC47A;
  border: 1px solid #0eb671; }

.u-bg-color-red {
  background-color: #FF4447;
  border: 1px solid #ff3538; }

.u-bg-color-yellow {
  background-color: #F3A32A;
  border: 1px solid #f29d1c; }

.module {
  padding: 3vh;
  border: 1px solid #E6E6E6;
  border-radius: 0.3rem;
  background-color: #FFFFFF;
  text-align: center;
  width: 100%; }
  .module:not(:last-child) {
    margin-bottom: 3vh; }
  .module__info {
    font-size: 1rem;
    margin-top: 10px;
    line-height: 1.5rem; }
  .module__admin-request {
    display: table;
    width: 100%; }
    .module__admin-request:not(:last-child) {
      border-bottom: 1px solid #E6E6E6; }
    .module__admin-request--name {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      font-size: 1.6rem; }
    .module__admin-request--choice {
      font-size: 2.5rem;
      display: inline-block;
      float: right;
      margin: 10px;
      cursor: pointer; }
      .module__admin-request--choice--accept {
        color: #0FC47A; }
      .module__admin-request--choice--refuse {
        color: #FF4447; }
  .module-admin-users-search-article {
    text-align: left;
    padding: 1rem; }
    .module-admin-users-search-article--name {
      display: inline-block;
      font-size: 1.6rem; }
    .module-admin-users-search-article--privileges {
      display: inline-block; }
    .module-admin-users-search-article--email {
      display: block;
      text-decoration: none;
      color: #151A22;
      font-size: 1.3rem; }
      .module-admin-users-search-article--email span {
        font-weight: bold; }
    .module-admin-users-search-article--password-reset, .module-admin-users-search-article--account-disable, .module-admin-users-search-article--toggle-privileges {
      display: inline-block;
      text-decoration: underline;
      font-size: 1.3rem;
      cursor: pointer; }
  .module-document-search-article {
    text-align: left;
    padding: 1rem; }
    .module-document-search-article--name {
      font-size: 1.6rem;
      color: #151A22;
      display: inline-block;
      text-decoration: underline; }
    .module-document-search-article--delete {
      color: #FF4447;
      display: inline-block;
      text-decoration: underline;
      cursor: pointer; }
    .module-document-search-article--description {
      font-size: 1.3rem;
      color: #53585E;
      display: block; }
    .module-document-search-article--info {
      font-size: 1.3rem;
      display: block; }
      .module-document-search-article--info span {
        font-weight: bold; }

.module-input-text {
  background: #FFFFFF;
  width: 100%;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  color: #151A22;
  padding: 0.9rem 0.8rem;
  outline: none;
  font-size: 1.4rem; }
  .module-input-text:focus {
    box-shadow: 0 0 0.75rem rgba(21, 26, 34, 0.7); }

.module-input-textarea {
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  color: #151A22;
  font-size: 1.4rem;
  padding: 0.9rem 0.8rem;
  width: 100%;
  display: block;
  outline: none;
  resize: none;
  height: 10rem; }
  .module-input-textarea:focus {
    box-shadow: 0 0 0.75rem rgba(21, 26, 34, 0.7); }

.module-input-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../images/layout/arrow_down.svg");
  background-size: 4rem;
  background-repeat: no-repeat;
  background-position: right;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  color: #151A22;
  font-size: 1.4rem;
  padding: 0.9rem 0.8rem;
  outline: none;
  cursor: pointer;
  width: 100%; }
  .module-input-select:focus {
    box-shadow: 0 0 0.75rem rgba(21, 26, 34, 0.7); }

.module-input-file {
  display: none; }

.module-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  border: none;
  font-weight: bold;
  color: #FFFFFF;
  padding: 0.9rem 0.8rem;
  font-size: 1.4rem;
  width: 100%;
  display: block;
  cursor: pointer; }
  .module-button--green {
    background-color: #0FC47A;
    border: 1px solid #0eb671; }
    .module-button--green:focus {
      box-shadow: 0rem 0rem 0.75rem rgba(15, 196, 122, 0.7); }
  .module-button--blue {
    background-color: #3897f0;
    border: 1px solid #2a90ef; }
    .module-button--blue:focus {
      box-shadow: 0rem 0rem 0.75rem rgba(56, 151, 240, 0.7); }
  .module-button--red {
    background-color: #FF4447;
    border: 1px solid #ff3538; }
    .module-button--red:focus {
      box-shadow: 0rem 0rem 0.75rem rgba(255, 68, 71, 0.7); }

.popup {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }
  .popup-box {
    height: auto;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 1rem;
    padding: 7vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .popup-close {
    position: absolute;
    top: 2vh;
    right: 2vh;
    cursor: pointer;
    font-size: 2rem; }
    .popup-close i {
      display: block; }
  .popup-title {
    font-size: 2rem;
    font-weight: lighter; }

.module-multiple-select {
  width: 100%;
  margin: 0 auto;
  position: relative; }
  .module-multiple-select__results {
    margin: 0px;
    width: 100%;
    position: absolute; }
    .module-multiple-select__results ul {
      padding: 0px;
      margin: 0px; }
    .module-multiple-select__results li {
      padding: 9px 8px;
      color: #FFFFFF;
      background: #FFFFFF;
      width: 100%;
      border-color: #DBDBDB;
      border-style: solid;
      border-width: 0px 1px 1px 1px;
      border-radius: 0px;
      color: #151A22;
      font-family: sans-serif;
      font-size: 14px;
      display: block;
      cursor: pointer; }
      .module-multiple-select__results li:first-child {
        background: #F7F7F7; }
      .module-multiple-select__results li:last-child {
        border-radius: 0px 0px 3px 3px; }

.module-multiple-select-tag-box ul {
  padding: 0; }
  .module-multiple-select-tag-box ul li {
    margin: 1rem 0rem;
    display: inline-block;
    background-color: #DBDBDB;
    border-radius: 20px;
    padding: 7px;
    font-size: 12px;
    font-family: sans-serif;
    cursor: pointer; }
    .module-multiple-select-tag-box ul li:not(:first-child) {
      margin-left: 5px; }

.menu-left {
  background-color: #1A8D4C;
  position: relative; }
  .menu-left__header {
    display: table;
    padding: 5rem; }
    .menu-left__header .menu-left__logo {
      width: 90%;
      display: table-cell;
      vertical-align: middle;
      margin: 0 auto; }
  .menu-left__main .menu-left__li {
    color: #FFFFFF;
    padding: 2rem;
    width: 100%;
    display: block;
    font-weight: bold;
    cursor: pointer; }
    .menu-left__main .menu-left__li--active, .menu-left__main .menu-left__li:hover {
      background-color: #166c43; }
    .menu-left__main .menu-left__li span:first-child {
      margin: 1rem; }
    .menu-left__main .menu-left__li-tag {
      padding: 0.2rem 0.5rem;
      border-radius: 10rem;
      font-size: 1rem;
      color: #FFFFFF;
      margin-left: 1rem;
      text-transform: uppercase; }
  .menu-left__footer {
    font-size: 1.3rem;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem;
    width: 100%; }
    .menu-left__footer--a {
      color: #FFFFFF; }

.row {
  max-width: 100%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 1rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row .col-1-of-1 {
    width: 100%; }
  .row .col-1-of-2 {
    width: calc((100% - 1rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 1rem * 2) / 3); }
  .row .col-2-of-3 {
    width: calc(((100% - 1rem * 2) / 3) * 2 + 1rem); }
  .row .col-1-of-4 {
    width: calc((100% - 1rem * 3) / 4); }
  .row .col-2-of-4 {
    width: calc(((100% - 1rem * 3) / 4) * 2 + 1rem); }
  .row .col-3-of-4 {
    width: calc(((100% - 1rem * 3) / 4) * 3 + 1rem * 2); }
  .row .col-1-of-5 {
    width: calc((100% - 1rem * 4) / 5); }

.panel__dashboard {
  display: grid; }
  .panel__dashboard-box {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "recentPosts profile" "recentPosts topProfiles";
    grid-gap: 3vh;
    width: 100%;
    height: 100%; }
    .panel__dashboard-box .module {
      margin: 0; }
  .panel__dashboard--recent-posts {
    grid-area: recentPosts;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3vh; }
    .panel__dashboard--recent-posts .document-box-content {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1rem; }
      .panel__dashboard--recent-posts .document-box-content__header {
        text-align: left;
        display: table;
        width: 100%; }
        .panel__dashboard--recent-posts .document-box-content__header--img {
          display: inline-block;
          height: 5rem;
          width: 5rem;
          border-radius: 100%;
          overflow: hidden;
          vertical-align: middle; }
          .panel__dashboard--recent-posts .document-box-content__header--img img {
            height: 100%; }
        .panel__dashboard--recent-posts .document-box-content__header--heading {
          display: inline-block;
          margin: 0 1.5rem;
          vertical-align: middle;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 70%;
          white-space: nowrap; }
          .panel__dashboard--recent-posts .document-box-content__header--heading span {
            font-weight: 400; }
        .panel__dashboard--recent-posts .document-box-content__header--download {
          display: inline-block;
          text-decoration: none;
          vertical-align: middle;
          color: #151A22;
          text-align: center;
          float: right;
          width: 5rem;
          padding: 1rem;
          border-radius: 0.3rem;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2); }
          .panel__dashboard--recent-posts .document-box-content__header--download:hover {
            box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3); }
      .panel__dashboard--recent-posts .document-box-content__info {
        text-align: justify; }
        .panel__dashboard--recent-posts .document-box-content__info--description {
          color: #53585E;
          padding-left: 6.5rem;
          text-overflow: ellipsis;
          overflow: hidden;
          display: block;
          display: -webkit-box;
          height: 5.46rem;
          font-size: 1.3rem;
          line-height: 1.4;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          max-width: 85%; }
      .panel__dashboard--recent-posts .document-box-content__footer {
        width: 100%; }
        .panel__dashboard--recent-posts .document-box-content__footer--info {
          text-align: left;
          padding-left: 6.5rem; }
          .panel__dashboard--recent-posts .document-box-content__footer--info li {
            padding: 0.5rem 1rem;
            border-radius: 10rem;
            display: inline-block;
            background-color: #DBDBDB;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 30%;
            white-space: nowrap;
            color: #FFFFFF; }
            .panel__dashboard--recent-posts .document-box-content__footer--info li:nth-child(1) {
              background-color: #3897f0;
              border: 1px solid #2a90ef; }
            .panel__dashboard--recent-posts .document-box-content__footer--info li:nth-child(2) {
              background-color: #0FC47A;
              border: 1px solid #0eb671; }
            .panel__dashboard--recent-posts .document-box-content__footer--info li:nth-child(3) {
              background-color: #F3A32A;
              border: 1px solid #f29d1c; }
            .panel__dashboard--recent-posts .document-box-content__footer--info li:not(:first-child) {
              margin-left: 0.5rem; }
  .panel__dashboard--profile {
    grid-area: profile;
    display: table;
    height: 100%; }
    .panel__dashboard--profile .profile-box {
      display: table-cell;
      vertical-align: middle; }
      .panel__dashboard--profile .profile-box .profile-img {
        width: 20vh;
        height: 20vh;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%); }
      .panel__dashboard--profile .profile-box .profile-info {
        margin: 1rem; }
        .panel__dashboard--profile .profile-box .profile-info--name, .panel__dashboard--profile .profile-box .profile-info--documents {
          margin: 0.5rem; }
  .panel__dashboard--top-profiles {
    grid-area: topProfiles; }

.profile .profile-cover {
  width: 100%;
  height: 40vh;
  background-image: url("../images/layout/pattern 3.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .profile .profile-cover__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; }
    .profile .profile-cover__content * {
      margin: 1rem; }
  .profile .profile-cover__pic {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 15vh;
    height: 15vh;
    border-radius: 100%;
    border: 0.5rem solid #FFFFFF;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.5);
    margin: 0 auto; }

.profile .profile-menu {
  background-color: #EAEAEA; }
  .profile .profile-menu__ul {
    padding: 0;
    text-align: center;
    margin: 0 auto; }
    .profile .profile-menu__ul::after {
      content: "";
      display: table;
      clear: both; }
  .profile .profile-menu__li {
    float: left;
    display: inline-block;
    padding: 3vh 3vh 2vh 3vh;
    list-style: none;
    width: calc(100% / 3);
    cursor: pointer;
    transition: all 0.2s ease-in-out; }
    .profile .profile-menu__li:hover {
      background-color: #1A8D4C; }
    .profile .profile-menu__li span {
      display: block; }

body {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 250px auto;
  grid-template-areas: "menu main";
  background-color: #F7F7F7; }

main {
  grid-area: main;
  overflow-y: scroll; }

.menu-left {
  grid-area: menu; }

.panel {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  padding: 3vh;
  overflow-y: scroll; }
  .panel:not(.panel__dashboard) {
    display: none; }
