.module {
  padding: 3vh;
  border: 1px solid $color-white-4;
  border-radius: 0.3rem;
  background-color: $color-white;
  text-align: center;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 3vh;
  }

  &__info {
    font-size: 1rem;
    margin-top: 10px;
    line-height: 1.5rem;
  }

  &__admin-request {
    display: table;
    width: 100%;

    &:not(:last-child) {
      border-bottom: 1px solid $color-white-4;
    }

    &--name {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      font-size: $font-default-1;
    }

    &--choice {
      font-size: 2.5rem;
      display: inline-block;
      float: right;
      margin: 10px;
      cursor: pointer;

      &--accept {
        color: $color-button-green;
      }

      &--refuse {
        color: $color-button-red;
      }
    }
  }

  &-admin-users-search {

    &-article {
      text-align: left;
      padding: 1rem;

      &--name {
        display: inline-block;
        font-size: $font-default-1;
      }

      &--privileges {
        display: inline-block;
      }

      &--email {
        display: block;
        text-decoration: none;
        color: $color-tertiary;
        font-size: $font-default-2;

        span {
          font-weight: bold;
        }

      }

      &--password-reset, &--account-disable , &--toggle-privileges{
        display: inline-block;
        text-decoration: underline;
        font-size: $font-default-2;
        cursor: pointer;
      }

    }

  }

  &-document-search {

    &-article {
      text-align: left;
      padding: 1rem;

      &--name {
        font-size: $font-default-1;
        color: $color-tertiary;
        display: inline-block;
        text-decoration: underline;
      }

      &--delete {
        color: $color-button-red;
        display: inline-block;
        text-decoration: underline;
      }

      &--description {
        font-size: 1.3rem;
        color: $color-grey-1;
        display: block;
      }

      &--info {
        font-size: 1.3rem;
        display: block;

        span {
          font-weight: bold;
        }

      }

    }

  }

}

.module-input-text {
  background: $color-white;
  width: 100%;
  border: 1px solid $color-white-5;
  border-radius: 3px;
  color: $color-tertiary;
  padding: 0.9rem 0.8rem;
  outline: none;
  font-size: 1.4rem;

  &:focus {
    box-shadow: 0 0 0.75rem rgba($color-tertiary, 0.7);
  }
}

.module-input-textarea {
  background: $color-white;
  border: 1px solid $color-white-5;
  border-radius: 3px;
  color: $color-tertiary;
  font-size: 1.4rem;
  padding: 0.9rem 0.8rem;
  width: 100%;
  display: block;
  outline: none;
  resize: none;
  height: 10rem;

  &:focus {
    box-shadow: 0 0 0.75rem rgba($color-tertiary, 0.7);
  }
}

.module-input-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../images/arrow_down.svg");
  background-size: 4rem;
  background-repeat: no-repeat;
  background-position: right;
  border: 1px solid $color-white-5;
  border-radius: 3px;
  color: $color-tertiary;
  font-size: 1.4rem;
  padding: 0.9rem 0.8rem;
  outline: none;
  cursor: pointer;
  width: 100%;

  &:focus {
    box-shadow: 0 0 0.75rem rgba($color-tertiary, 0.7);
  }
}

.module-input-file {
  display: none;
}
