main {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 2fr;
  grid-template-areas: "search login";

  @include respond(tab-lan) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "search" "login";
  }
}

.section-search {
  background-color: $color-white-2;
  height: 100vh;
  position: relative;
  grid-area: search;
  width: 100%;

  & > * {
    padding: 8rem;
  }

  .header {

    .logo {
      height: 6rem;
    }

  }

  .search-box {
    width: 100%;
    position: absolute;
    @include absCenter;

  }

}

.section-login {
  background-color: $color-primary;
  height: 100vh;
  position: relative;
  grid-area: login;
  color: $color-white;
  display: table;
  width: 100%;

  .login-box {
    padding: 8rem;
    display: table-cell;
    vertical-align: middle;

    &__error {
      display: inline-block;
      color: $color-white;
      font-size: 1.2rem;
      font-weight: lighter;
      margin: 0.5rem;
    }



    &__email-field, &__password-field {
      border-color: $color-white;
      color: inherit;

      &::placeholder {
        color: $color-white;
      }

    }

    &__submit {
      display: inline-block;
      padding: 1rem 2.5rem;
      box-sizing: border-box;
      background-color: $color-white;
      color: $color-primary;
      font-weight: bold;
      text-transform: uppercase;
      border: none;
      border-radius: 0px;
      outline: none;
      transition: all 0.5s ease;
      cursor: pointer;
      margin-right: 0.5rem;

      &:hover {
        color: $color-white;
        background-color: $color-tertiary;
      }

    }

    &__forgot {
      display: inline-block;
      text-decoration: none;
      font-weight: lighter;
      font-size: 1.2rem;
      margin: 0.5rem;
      color: $color-white;
    }

  }

}
