body {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 25rem auto;
  grid-template-areas: "menu main";
  background-color: $color-white-2;

  // @include respond(tab-lan) {
  //   display: block;
  // }

  @include respond(tab-lan) {
    grid-template-rows: 6rem auto;
    grid-template-columns: 1fr;
    grid-template-areas: "menuMobile" "main";
  }

}

main {
  grid-area: main;
  overflow-y: scroll;

  // @include respond(tab-lan) {
  //   height: calc(100vh - 6rem);
  //   margin-top: 6rem;
  // }

}

.menu-left {
  grid-area: menu;
}

.panel {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  padding: 3vh;
  //overflow-y: scroll;

  @include respond(phone) {
    height: auto;
  }

  &:not(.panel__dashboard) {
    display: none;
  }
}
