body {
  background-color: $color-white-2;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
}

.login-box {
  position: absolute;
  @include absCenter;
  width: 20vw;
}

.logo {
  width: 50%;
}

.error {
  font-size: 1.2rem;
}
