{
  "development": {
    "PORT": 3000,
    "MONGODB_URI": "mongodb://localhost:27017/archivio",
    "MAILER_URL":"http://localhost:5000/send",
    "JWT_SECRET": "jwtSecret",
    "CORS_WHITELIST": ["http://localhost:8080"]
  },
  "production": {
    "PORT": 3000,
    "MONGODB_URI": "mongodb://localhost:27017/archivio",
    "MAILER_URL":"http://localhost:5000/send",
    "JWT_SECRET": "jwtSecret",
    "CORS_WHITELIST": ["http://localhost:8080"]
  }
}