// BASE COLORS
$color-white: #FFFFFF;
$color-black: #000000;

// COLORS
$color-primary: #1A8D4C;
$color-secondary: #166c43;
$color-tertiary: #151A22;

$color-white-1: #F5F5F5;
$color-white-2: #F7F7F7;
$color-white-3: #EAEAEA;
$color-white-4: #E6E6E6;
$color-white-5: #DBDBDB;

$color-grey-1: #53585E;

// GRIDS
$grid-width: 100%;
$gutter-horizontal: 1rem;
$gutter-vertical: 1rem;

// BUTTONS
$color-button-green: #0FC47A;
$color-button-blue: #3897f0;
$color-button-red: #FF4447;
$color-button-yellow: #F3A32A;

// FONTS
$font-default-1: 1.6rem;
$font-default-2: 1.3rem;

$line-height-default: 1.4;


// DASHBOARD, RECENT POSTS
$lines-to-show: 3;
