body {
  font-family: "Roboto", sans-serif;
  font-size: $font-default-1;
  color: $color-tertiary;
  -webkit-font-smoothing: antialiased; // se si vuole
}

.heading-primary {
  font-size: 4rem;
  font-weight: lighter;
}

.heading-secondary {
  font-size: 3rem;
  font-weight: lighter;
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: lighter;
}

.heading-fourth {
  font-size: 1.5rem;
  font-weight: lighter;
}

.heading-fifth {
  font-size: 1rem;
  font-weight: lighter;
}
