.panel__dashboard {

  &-box {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "recentPosts profile" "recentPosts topProfiles";
    grid-gap: 3vh;
    width: 100%;
    height: 100%;
    @include respond(tab-por) {
      // grid-template-rows: 1fr 1fr 1fr;
      // grid-template-columns: 1fr;
      // grid-template-areas: "recentPosts profile" "recentPosts topProfiles";
      display: block;
    }

    .module {
      margin: 0;
    }

    & > div {
      &:not(:last-child) {
        @include respond(tab-por) {
          margin-bottom: 3vh;
        }
      }
    }
  }

  &--recent-posts {
    grid-area: recentPosts;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3vh;

    .document-box {
      &-content {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;

        &__header {
          text-align: left;
          display: table;
          width: 100%;

          &--img {
            display: inline-block;
            height: 5rem;
            width: 5rem;
            border-radius: 100%;
            overflow: hidden;
            vertical-align: middle;

            img {
              height: 100%;
            }
          }

          &--heading {
            display: inline-block;
            margin: 0 1.5rem;
            vertical-align: middle;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 70%;
            white-space: nowrap;

            span {
              font-weight: 400;
            }
          }

          &--download {
            display: inline-block;
            text-decoration: none;
            vertical-align: middle;
            color: $color-tertiary;
            text-align: center;
            float: right;
            width: 5rem;
            padding: 1rem;
            border-radius: 0.3rem;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            box-shadow: 0 0 0.5rem rgba($color-black, 0.2);

            &:hover {
              box-shadow: 0 0 0.7rem rgba($color-black, 0.3);
            }
          }
        }

        &__info {
          text-align: justify;

          &--description {
            color: $color-grey-1;
            padding-left: 6.5rem;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            display: -webkit-box;
            height: $font-default-2*$line-height-default*$lines-to-show;
            font-size: $font-default-2;
            line-height: $line-height-default;
            -webkit-line-clamp: $lines-to-show;
            -webkit-box-orient: vertical;
            max-width: 85%;
          }
        }

        &__footer {
          width: 100%;

          &--info {
            text-align: left;
            padding-left: 6.5rem;

            li {
              padding: 0.5rem 1rem;
              border-radius: 10rem;
              display: inline-block;
              background-color: $color-white-5;
              text-overflow: ellipsis;
              overflow: hidden;
              max-width: 30%;
              white-space: nowrap;
              color: $color-white;

              &:nth-child(1) {
                background-color: $color-button-blue;
                border: 1px solid darken($color-button-blue, 3%);
              }

              &:nth-child(2) {
                background-color: $color-button-green;
                border: 1px solid darken($color-button-green, 3%);
              }

              &:nth-child(3) {
                background-color: $color-button-yellow;
                border: 1px solid darken($color-button-yellow, 3%);
              }

              &:not(:first-child) {
                margin-left: 0.5rem;
              }
            }
          }
        }
      }
    }
  }

  &--profile {
    grid-area: profile;
    display: table;
    height: 100%;
    @include respond(tab-por) {
      height: auto;
    }

    .profile-box {
      display: table-cell;
      vertical-align: middle;

      .profile-img {
        width: 20vh;
        height: 20vh;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
      }

      .profile-info {
        margin: 1rem;

        &--documents,
        &--name {
          margin: 0.5rem;
        }
      }
    }
  }

  &--top-profiles {
    grid-area: topProfiles;
  }
}
