{
  "development": {
    "port": 3000,
    "MONGODB_URI": "mongodb://localhost:27017/archivio",
    "JWT_SECRET": "jwtSecret",
    "SSL": {
      "key": "/etc/letsencrypt/live/example.com/privkey.pem",
      "cert": "/etc/letsencrypt/live/example.com/cert.pem",
      "ca": "/etc/letsencrypt/live/example.com/chain.pem"
    }
  }
}