.home-text-field {
  display: block;
  padding: 0.8rem 0.9rem 0.8rem 0rem;
  border: none;
  border-bottom: 0.5px solid $color-tertiary;
  color: $color-tertiary;
  background: none;
  font-size: 1.4rem;
  outline: none;
  width: 100%;
  border-radius: 0px;

  &::placeholder {
    color: $color-tertiary;
  }
  
}
